<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weeks of Life</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">
    <link href="/css/roboto.css" rel="stylesheet">
    <link href="/css/vue-material.min.css" rel="stylesheet">
    <link href="/css/vue-material.default.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
	<link href="/app/wol/wol2.css" rel="stylesheet">
    <script src="/app/fixTime.js"></script>
	<!-- lib scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/ru.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>
    <script src="/app/fb.js"></script>
    <script src="/lib/ua-parser.min.js"></script>
</head>
<body>
	<div id="vwol"></div>
	<template id="t_WolApp">
		<div class="app-layout">
            <wol-navbar :current="'wol'" v-on:show-map-dialog="showMapDialog()" v-on:logout="logout()"></wol-navbar>
            <wol-spinner :store="store"></wol-spinner>
            <transition name="fade">
            <div v-show="!store.loading">
                <div class="cntnr">
                    <header style="padding-top:58px">
                        <div>
                            <div class="pl">
                                <strong>Прожито {{store.lived.percentage}}</strong>, недель: <strong>{{store.lived.weeks}}</strong>, дней: <strong>{{store.lived.days}}</strong>, часов: <strong>{{store.lived.hours}}</strong>
                            </div>
                            <div class="pl weeks-infoed">
                                Недель заполнено: <strong>{{c_infoed}} ({{((c_infoed / store.lived.weeks) * 100).toFixed(1) + '%'}})</strong>
                            </div>
                            <div class="pr" style="position:relative;left:-27px">
                                <strong>Осталось {{store.remained.percentage}}</strong>, недель: <strong>{{store.remained.weeks}}</strong>, дней: <strong>{{store.remained.days}}</strong>, часов: <strong>{{store.remained.hours}}</strong>
                            </div>
                        </div>
                    </header>

                    <div style="position:relative">
                        <table class="yeartable clearfix">
                            <tr v-for="(year_weeks, year, index) in store.years">
                                <td class="yeartd year-header" valign="middle">{{year}}<span class="uninfoed" v-if="countUninfoed(year_weeks)">({{countUninfoed(year_weeks)}})</span></td>
                                <td class="yeartd year-weeks" valign="middle">
                                    <div class="week-placeholder" v-if="index === 0" :style="'width:' + store.firstYearPlaceHolderWidth + 'px'"></div>
                                    <week-item v-for="week in year_weeks" :key="week.weekNum" :week="week" v-on:week-clicked="editWeek(week)" v-on:week-mounted="mountWeek(week)"></week-item>
                                </td>
                            </tr>
                        </table>

                        <div class="tag-bar taglist">
                            <a v-for="ti in c_tags" href="" @click.prevent="setTagged(ti)" class="tag-link" v-show="ti.weekNums.length > 0" :class="{'strong': ti.weekNums.length>20, 'tag-selected': ti.tag == store.curTag}">{{ti.tag}}<small>&nbsp;</small>({{ti.weekNums.length}})&nbsp;&nbsp;&nbsp; </a>
                            <md-field>
                                <label>Поиск</label>
                                <md-input type="text" v-model="store.searchedWord" style="width:300px" />
                            </md-field>
                            <div style="text-align:center">
                                <md-button type="button" @click="searchWord()">Искать в описаниях</md-button>
                            </div>
                            <div>
                                    <ul>
                                        <li>
                                            <div class="wi wi-inner ng"></div><div class="wi-icon-legend">#ng</div>
                                            <div class="wi wi-inner dr"></div><div class="wi-icon-legend">#dr</div>
                                            <div class="wi wi-inner buy"></div><div class="wi-icon-legend">#buy</div>
                                            <div class="wi wi-inner mov"></div><div class="wi-icon-legend">#mov</div>
                                            <div class="wi wi-inner games"></div><div class="wi-icon-legend">#games</div>
                                            <div class="wi wi-inner major"></div><div class="wi-icon-legend">#major</div>
                                            <div class="wi wi-inner interview"></div><div class="wi-icon-legend">#interview</div>
                                            <div class="wi wi-inner buh"></div><div class="wi-icon-legend">#buh</div>
                                            <div class="wi wi-inner acid"></div><div class="wi-icon-legend">#acid</div>
                                            <div class="wi wi-inner meet"></div><div class="wi-icon-legend">#meet</div>
                                            <div class="wi wi-inner crush"></div><div class="wi-icon-legend">#crush</div>
                                            <div class="wi wi-inner love"></div><div class="wi-icon-legend">#love, #sex</div>
                                            <div class="wi wi-inner breakup"></div><div class="wi-icon-legend">#breakup</div>
                                            <div class="wi wi-inner ill"></div><div class="wi-icon-legend">#ill</div>
                                            <div class="wi wi-inner exam"></div><div class="wi-icon-legend">#exam</div>
                                            <div class="wi wi-inner death"></div><div class="wi-icon-legend">#death</div>
                                            <div class="wi wi-inner bad"></div><div class="wi-icon-legend">#bad</div>
                                            <div class="wi wi-inner sea"></div><div class="wi-icon-legend">#sea</div>
                                            <div class="wi wi-inner abroad"></div><div class="wi-icon-legend">#abroad</div>
                                        </li>
                                    </ul>
                                   
                                </div>
                        </div>

                        
                    </div>
                </div>
                </div>
            </transition>
			<edit-dialog v-on:show-messages = "showMessages()" v-on:week-saved = "saveWeek()" v-on:prev-week = "prevWeek()" v-on:next-week="nextWeek()"></edit-dialog>
			<map-dialog></map-dialog>
			<message-dialog></message-dialog>
		</div>
	</template>	
	
	<script src="/lib/vue.js"></script>
	<script src="/lib/vue-material.min.js"></script>
	<script>
		Vue.use(VueMaterial.default);
	</script>
    <script>
        var $server = {};
        $server.USE_LOCAL_SERVER = <%- USE_LOCAL_SERVER %>;
        $server.MODULES = "<%- MODULES %>".split(',');
        $server.BASE_URL = $server.USE_LOCAL_SERVER ? "": "<%- BASE_URL %>";
        $server.NAME = "<%- NAME %>";
    </script>
    
	<script src="/app/wol/WeekModel.js"></script>
    <script src="/app/wol/wol-store.js"></script>
    <script src="/app/common.js"></script>
	<script src="/app/wol/wol-components.js"></script>
	<script src="/app/wol/wol-app.js"></script>
	<script>
		LOG('MAIN', "ALL SCRIPTS LOADED, APP INITIALIZED");
	</script>	
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi8Z8zune8RE2Ohmh1pZ7UqFYoJBemV8o"></script>
</body>
</html>
