/* BASIC CLASSES */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #333;
  background-color: #f5f5f5;
  box-sizing: initial;
  -webkit-font-smoothing: none !important;
}
li {
  line-height: 24px;
}
header {
  padding-bottom: 30px;
}
ul {
  padding-left: 0;
}
.strong {
  font-weight: bold;
}
/* MAIN WINDOW */
.loading {
  width: 800px;
  height: 600px;
  margin: 400px auto;
  text-align: center;
  z-index: 1000;
}
.caption {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}
.app-layout {
  background-color: #f5f5f5;
}
h1 {
  margin-top: 12px;
  display: inline-block;
  font-family: Dosis, "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.cntnr {
  width: 1120px;
  margin: 0 auto;
}
.yeartable {
  margin: 0;
  width: 1120px;
}
.yeartd {
  height: 20px;
}
.year-header {
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 50px;
  font-size: 16px;
}
.uninfoed {
  color: #aaa;
  font-size: 10px;
  font-weight: normal;
  position: relative;
  top: -3px;
}
.week-placeholder {
  border: 0;
  margin: 0;
  display: inline-block;
  background: #f5f5f5;
}
.wi {
  margin: 0;
  padding: 0;
  border: 3px solid #f5f5f5;
  display: inline-block;
}
.wi:hover {
  box-shadow: 1px 1px #777;
}
.wi.selected {
  border-color: orange;
}
.wi.tagged {
  border-color: yellow;
}
.wi-inner {
  width: 12px;
  height: 12px;
  border: 1px solid #aaa;
  position: relative;
}
.wi-inner.future {
  border: 1px dotted black;
  background: white;
}
.infoed .wi-inner {
  border: 1px solid black;
}
.wi-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 0;
  opacity: 0.5;
  z-index: 1;
  /*5;*/
}
.wi-bg2 {
  position: absolute;
  left: 0;
  top: -12px;
  width: 0;
  height: 0;
  z-index: 2;
  border-width: 12px;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  opacity: 0.5;
}
.wi-icon-placeholder {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
.wi-icon-placeholder:last-child {
  margin-right: 0;
}
.infoed .wi-bg,
.infoed .wi-bg2 {
  opacity: 1.0;
}
.wi-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 0;
  z-index: 3;
}
.wi-popup-tri {
  width: 16px;
  height: 16px;
  background-image: url(../../img/tags/triangle.png);
  position: absolute;
  left: 3px;
  display: none;
  z-index: 5;
}
.wi-popup {
  width: 280px;
  border: 1px solid #555;
  background: #eee;
  color: black;
  font-style: italic;
  font-size: 0.75em;
  padding: 0 4px 4px 4px;
  overflow-x: auto;
  display: none;
  position: absolute;
  left: 18px;
  top: -4px;
  z-index: 4;
}
.wi:hover .wi-popup,
.wi:hover .wi-popup-tri {
  display: block !important;
}
.desc-desc {
  color: #555;
  line-height: 1.2;
}
.desc-flags {
  display: inline-block;
}
.desc-info {
  font-style: normal;
  font-size: 11px;
  line-height: 1.2 !important;
  color: black;
  white-space: pre-wrap;
}
/* EDIT DIALOG */
#editDialog {
  display: inline-table;
  transform: translate(-50%, -50%) scale(1) !important;
}
#editDialog .md-dialog-content:first-child {
  padding-top: 22px;
  width: 800px !important;
}
@media (max-width: 1080px) {
  #editDialog {
    display: inline-table;
    transform: translate(-50%, -50%) scale(1) !important;
  }
  #editDialog .md-dialog-content:first-child {
    padding-top: 22px;
    width: 600px !important;
  }
}
#week_info_textarea {
  font-size: 14px;
  line-height: 26px;
  min-height: 78px;
  padding-bottom: 0;
}
.md-field .md-textarea {
  max-height: 240px;
}
.colored-flag {
  display: inline-flex;
  margin-right: 4px;
  justify-content: center;
  border-radius: 3px;
  color: black;
  font-size: 12px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4px;
}
.colored-flags {
  float: right;
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.tag-icons {
  float: right;
  display: inline-flex;
  height: 20px;
  align-items: center;
  background-color: #f0f0f0;
  margin-right: 4px;
  padding: 0 4px 0 4px;
}
@media (max-width: 1080px) {
  .colored-flags,
  .tag-icons {
    display: none;
  }
}
.weeks-infoed {
  color: #448aff;
  margin-left: 45px;
}
/* TAGS PANEL */
.tag-bar {
  float: right;
  position: absolute;
  left: 1140px;
  top: 0;
  background-color: #f0f0f0;
  border-radius: 3px;
  border: 3px solid transparent;
  list-style: none;
  padding: 10px 15px;
  width: 300px;
}
.tag-bar a,
.tag-bar a:visited,
.tag-bar a:active {
  text-decoration: none;
  font-size: 0.9em;
  color: #448aff;
}
.tag-bar a:hover {
  text-decoration: none;
  color: blue;
}
a.tag-link.tag-selected {
  font-weight: bold;
  color: orange !important;
}
/* TAG ICONS */
.ng {
  background: url(../../img/tags/ng_small.png) -1px -2px;
}
.dr {
  background: url(../../img/tags/dr_small.png) -1px -2px;
}
.buy {
  background: url(../../img/tags/tag_small.png) -1px -2px;
}
.mov {
  background: url(../../img/tags/film_small.png) -1px -2px;
}
.games {
  background: url(../../img/tags/chain_small.png) -1px -2px;
}
.zz {
  background: url(../../img/tags/zz_small.png) -1px -2px;
}
.soc {
  background: url(../../img/tags/soc_small.png) -1px -2px;
}
.major {
  background: url(../../img/tags/star_small.png) -1px -2px;
}
.interview {
  background: url(../../img/tags/interview_small.png) -2px -2px;
}
.quit {
  background: url(../../img/tags/quit_small.png) -1px -2px;
}
.qbb {
  background: url(../../img/tags/qbb_small.png) -1px -2px;
}
.buh {
  background: url(../../img/tags/buh_small.png) -1px -2px;
}
.acid {
  background: url(../../img/tags/acid_small.png) -1px -2px;
}
.crush {
  background: url(../../img/tags/crush_small.png) -2px -2px;
}
.meet {
  background: url(../../img/tags/meet_small.png) -2px -2px;
}
.breakup {
  background: url(../../img/tags/breakup_small.png) -1px -2px;
}
.ill {
  background: url(../../img/tags/pill_small.png) -1px -2px;
}
.sex,
.love {
  background: url(../../img/tags/sex_small.png) -2px -2px;
}
.exam {
  background: url(../../img/tags/bell_small.png) -1px -2px;
}
.gig {
  background: url(../../img/tags/music_small.png) -1px -2px;
}
.bad {
  background: url(../../img/tags/exclamation_small_red.png) -1px -2px;
}
.death {
  background: url(../../img/tags/death_small.png) -1px -2px;
}
.sea {
  background: url(../../img/tags/sea_small.png) -1px -2px;
}
.abroad {
  background: url(../../img/tags/globe_small.png) -1px -2px;
}
/* BACKGROUND IMAGES */
/*NEW BG STYLES*/
.nospan {
  background: url(../../img/tags/wi/nospan.png);
}
.school {
  background: url(../../img/tags/wi/school.png);
}
.lyceum {
  background: url(../../img/tags/wi/lyceum.png);
}
.mpei {
  background: url(../../img/tags/wi/mpei.png);
}
.mpei_vigour {
  background: url(../../img/tags/wi/mpei_vigour.png);
}
.vigour {
  background: url(../../img/tags/wi/vigour.png);
}
.aspa_vigour {
  background: url(../../img/tags/wi/aspa_vigour.png);
}
.aspa {
  background: url(../../img/tags/wi/aspa.png);
}
.aspa_softline {
  background: url(../../img/tags/wi/aspa_softline.png);
}
.aspa_ira {
  background: url(../../img/tags/wi/aspa_ira.png);
}
.enm {
  background: url(../../img/tags/wi/enm.png);
}
.enm_nika {
  background: url(../../img/tags/wi/enm_nika.png);
}
.veb {
  background: url(../../img/tags/wi/veb.png);
}
.nika_veb {
  background: url(../../img/tags/wi/nika_veb.png);
}
.lera_veb {
  background: url(../../img/tags/wi/lera_veb.png);
}
/* MESSAGE DIALOG */
#msgDialog {
  max-width: 1860px;
  min-height: 440px;
  display: inline-table;
}
.chat-cntnr {
  width: 400px;
  margin: 0 auto;
  position: relative;
  left: -64px;
}
.col2 {
  width: 640px;
  column-count: 2;
}
.col3 {
  width: 960px;
  column-count: 3;
}
.col4 {
  width: 1280px;
  column-count: 4;
}
.col5 {
  width: 1600px;
  column-count: 5;
}
ul.chat-column {
  width: 270px;
  list-style: none;
  margin-right: 5px;
  margin-top: 0;
  padding: 0 5px;
  background-color: lightblue;
  border-radius: 8px;
  border: 1px solid #999;
}
li.msg {
  width: 100%;
}
.msg-inner {
  background-color: white;
  box-sizing: border-box;
  max-width: 250px;
  border-radius: 4px;
  padding: 4px;
  margin: 2px 0;
  display: inline-block;
  text-align: left;
}
.msg-inner:first-child {
  margin-top: 4px;
}
.msg-inner:last-child {
  margin-bottom: 4px;
}
li.msg.me {
  text-align: right;
}
li.me .msg-inner {
  background-color: lightyellow;
}
.chat-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  color: black;
}
.channel-icon {
  width: 12px;
  height: 12px;
}
.msg-header {
  height: 10px;
  line-height: 10px;
  vertical-align: middle;
}
.msg-sender {
  color: #555;
  font-size: 11px;
  font-weight: bold;
}
.msg-date {
  color: gray;
  font-size: 10px;
  float: right;
  margin-left: 4px;
}
.msg-text {
  font-size: 11px;
  line-height: 14px;
  margin-top: 6px;
  overflow: hidden;
}
/* MAP DIALOG */
div#map {
  width: 1024px;
  height: 900px;
  background-color: grey;
}
/* dialog.css */
.md-tabs-navigation .md-ripple {
  padding: 0;
}
.md-overlay {
  z-index: 5 !important;
}
.md-dialog {
  z-index: 100;
}
.md-dialog-content {
  padding-bottom: 0;
}
.md-dialog-actions {
  min-height: 48px;
  padding: 0 24px 8px 8px;
}
.md-button-content {
  margin-left: -10px;
  margin-right: 6px;
}
.close-button {
  float: right;
  position: relative;
  top: -8px;
}
.close-button button {
  margin: 2px;
}
.close-button .md-button .md-ripple {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  display: inline-block;
  margin: 0;
}
#mapDialog {
  max-height: 90%;
  display: inline-table;
}
#mapDialog.md-dialog-content {
  height: 1000px;
}
#messageDialog.md-dialog-content {
  height: 1080px;
}
.md-button,
.md-button-clear {
  font-size: 13px !important;
}
.md-field {
  min-height: 36px;
  margin-bottom: 12px;
}
.md-tabs-navigation .md-button-content {
  position: static;
  margin-left: 2px;
}
.md-tabs-navigation > .md-button {
  text-transform: none;
  max-width: 160px !important;
  min-width: 130px !important;
  font-size: 12px !important;
  border: 1px solid #eee;
}
.md-title {
  line-height: normal;
}
td.md-table-cell {
  height: 20px;
}
