/* TAG ICONS */

.ng {
    background: url(./tags/ng_small.png) -1px -2px;
}

.dr {
    background: url(./tags/dr_small.png) -1px -2px;
}

.buy {
    background: url(./tags/tag_small.png) -1px -2px;
}

.mov {
    background: url(./tags/film_small.png) -1px -2px;
}

.games {
    background: url(./tags/chain_small.png) -1px -2px;
}

.zz {
    background: url(./tags/zz_small.png) -1px -2px;
}

.soc {
    background: url(./tags/soc_small.png) -1px -2px;
}

.major {
    background: url(./tags/star_small.png) -1px -2px;
}

.interview {
    background: url(./tags/interview_small.png) -2px -2px;
}

.quit {
    background: url(./tags/quit_small.png) -1px -2px;
}

.qbb {
    background: url(./tags/qbb_small.png) -1px -2px;
}

.buh {
    background: url(./tags/buh_small.png) -1px -2px;
}

.acid {
    background: url(./tags/acid_small.png) -1px -2px;
}

.crush {
    background: url(./tags/crush_small.png) -2px -2px;
}

.meet {
    background: url(./tags/meet_small.png) -2px -2px;
}

.breakup {
    background: url(./tags/breakup_small.png) -1px -2px;
}

.ill {
    background: url(./tags/pill_small.png) -1px -2px;
}

.sex,
.love {
    background: url(./tags/sex_small.png) -2px -2px;
}

.exam {
    background: url(./tags/bell_small.png) -1px -2px;
}

.gig {
    background: url(./tags/music_small.png) -1px -2px;
}

.bad {
    background: url(./tags/exclamation_small_red.png) -1px -2px;
}

.death {
    background: url(./tags/death_small.png) -1px -2px;
}

.sea {
    background: url(./tags/sea_small.png) -1px -2px;
}

.abroad {
    background: url(./tags/globe_small.png) -1px -2px;
}

/* BACKGROUND IMAGES */
/*NEW BG STYLES - DEPRECATED AFTER NECROMACRO VERSION*/
/*.nospan {
    background: url(./wi/nospan.png);
}

.school {
    background: url(./wi/school.png);
}

.lyceum {
    background: url(./wi/lyceum.png);
}

.mpei {
    background: url(./wi/mpei.png);
}

.mpei_vigour {
    background: url(./wi/mpei_vigour.png);
}

.vigour {
    background: url(./tags/wi/vigour.png);
}

.aspa_vigour {
    background: url(./tags/wi/aspa_vigour.png);
}

.aspa {
    background: url(./tags/wi/aspa.png);
}

.aspa_softline {
    background: url(./tags/wi/aspa_softline.png);
}

.aspa_ira {
    background: url(./tags/wi/aspa_ira.png);
}

.enm {
    background: url(./tags/wi/enm.png);
}

.enm_nika {
    background: url(./tags/wi/enm_nika.png);
}

.veb {
    background: url(./tags/wi/veb.png);
}

.nika_veb {
    background: url(./tags/wi/nika_veb.png);
}

.lera_veb {
    background: url(./tags/wi/lera_veb.png);
}*/