.spinner-parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.ib {
    display: inline-block;
}

.pl {
    float: left;
}

.pr {
    float: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

body {
    margin-top:-5px;
}